
.father{display: grid;
grid-template-rows: 1fr 1fr;
background-position: brown;}

.h4{color: darkorange;
background-color: rgb(107, 47, 70);
font-size: 150px;
text-align: center;

border-radius: 15px;}
.h4:hover{font-size: 175px;
color: greenyellow;}

.h5{color:limegreen;
background-color: aqua;
border-radius: 15px;}
.ho{margin-left: 200px;
margin-top: 80px;
background-color: aqua;
font-size: 70px;}







.mother{display:grid;
grid-template-columns:  400px 400px 400px;
column-gap:30px;
row-gap: 50px;
width:100px;
height: 100px;
margin-left: 35px;

}
          
   

.child1{background-color: aqua;
    border-radius: 30px;
    display: grid;
    
    
}

.img{width: 350px; height: 220px;
    margin-top: 6px;
    border-radius: 20px;
    margin-left: 25px;
}
.img:hover{height: 300px;}
.h1{color:purple;  font-size: 50px;
margin-top: 20px;
text-align: center;
}
.h1:hover{color: green;
font-size: 60px;}
.p1{font-size: 17px;
    color: red;
padding: 30px;
opacity: 0.4;
text-align: center;
}
.p1:hover{color: violet;
font-size: 22px;}
.b1{border-radius: 30px;
color: black;
background-color: greenyellow;
font-size: 30px;
text-align: center;
margin-left: 150px;
margin-right: 150px;

}
.b1:hover{color: blue;
font-size:40px ;}


.child2{background-color: blue;
    border-radius: 30px;
}
.img2{width: 350px; height: 220px;
    margin-top: 6px;
    border-radius: 20px;
    margin-left: 25px;}
    .img2:hover{height: 300px;}

    .h2{color:lime;  font-size: 50px;
        margin-top: 20px;
        text-align: center;
        }
        .h2:hover{color: green;
            font-size: 60px;}

        .p2{font-size: 18px;
            color-scheme: purple;
        padding: 30px;
        opacity: 0.4;
            text-align: center;}
            .p2:hover{color: violet;
                font-size: 22px;}
            .b2{border-radius: 30px;
                color: magenta;
                background-color: greenyellow;
                font-size: 30px;
                text-align: center;
                margin-left: 150px;
                } 
                .b2:hover{color: blue;
                    font-size:50px ;}
                    


.child3{background-color: blueviolet;
    border-radius: 30px;
}
.child3 img{ width: 350px; height: 220px;
    margin-top: 6px;
    border-radius: 20px;
    margin-left: 25px;}
.child3 img:hover{height: 300px;}

.h3{color:purple;  font-size: 50px;
margin-top: 20px;
text-align: center;
}
.h3:hover{color: green;
    font-size: 60px;}


.p3{font-size: 18px;
    color-scheme: purple;
padding: 30px;
opacity: 0.4;
    text-align: center;}
    .p3:hover{color: violet;
        font-size: 22px;}

    .b3{border-radius: 30px;
        color: magenta;
        background-color: greenyellow;
        font-size: 30px;
        text-align: center;
        margin-left: 150px;
        } 
        .b3:hover{color: blue;
            font-size:50px ;}
            
